<div>
    <div class="messageform">
        <h3>Message Us</h3>
        <hr class="hrbar">
        <form action="">
            <!-- <label>Name</label> -->
            <br>
            <input type="text" placeholder="Your Name" name="name" id="name" required>
            <br>
            <!-- <label>Email Address</label> -->
            <br>
            <input type="email" name="email" id="email" placeholder="useremail@address.com"  required>
            <br>
            <!-- <label>Message</label> -->
            <br>
            <textarea rows="5" required placeholder="Your Message"></textarea>
            <br>
            <br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <style>
        .messageform{
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            max-width: 600px;
            background-color: white;
            padding: 0px 40px;
            padding-bottom: 40px;
        }
        .messageform > form > input{
            background: #eee;
            width: 100%;
            padding: 10px;
            border: 1px solid greenyellow;
            border-radius: 10px;
        }
        .messageform > form > input:focus{
            border: 2px solid greenyellow;
        }
        .hrbar{
            border: 1px solid greenyellow;
        }
        textarea{
            width: 100%;
            padding: 10px;
            border: 1px solid greenyellow;
            border-radius: 10px;
        }
        textarea:focus{
            border: 2px solid greenyellow;
            outline: none;
        }
    </style>
</div>
<div id="map" style="top:450px !important"></div>